* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

.heading {
    color: blue;
    text-align: center;
}

.heading-size {
    font-size: 48px;
}

.text-purple {
    color: purple;
}