* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

.profile-image {
    width: 300px;
    height: auto;
}

.project-image {
    width: 300px;
    height: auto;
    align-items: center !important;
}
